nav {
    background-color: #318b9b;
    padding: 10px;
    display: flex;
    justify-content: flex-end;
    opacity: 80%;
    border-radius: 10px;
}

nav ul li {
    display: inline-block;
}

nav ul li a:hover {
    background-color: #257ab7;
    border-radius: 5px;
    text-decoration: underline;
}

.textButton li a {
    color: #ffffff;
    text-decoration: none;
    font-family: 'Lucida Console', monospace;
    padding: 10px;
}

.textGeneral {
    color: #000000;
    font-size: medium;
    font-family: 'Courier New', monospace;
    margin: 20px;
    padding: 10px;
    display: flex;
    justify-content: left;
    text-decoration: none;
}

.textTopic {
    color: #000000;
    text-decoration: none;
    font-family: 'Lucida Console', monospace;
    margin: 30px;
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
}

.widget {
    display: flex;
    justify-content: space-evenly;
    margin: 30px;
}

.widget div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px;
}

.overlay {
    padding: 40px;
    margin: 50px;
    border-radius: 10px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 80%;
    width: 80%;
    opacity: 0;
    transition: .5s ease;
    background-color: #5895a93b;
}

.container {
    position: relative;
}

.container:hover .overlay{
    opacity: 1;
}

.container:hover {
    opacity: 0.7;
}

.textImage {
    color: white;
    font-family: 'Courier New', Courier, monospace;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

.widget div img {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px;
}

.widget1 {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-content: space-around;
    margin: 10px;
}



.space {
    display: flex;
    margin: 100px;
}

.space1 {
    display: flex;
    margin: 40px;
}

.icon {
    display: block;
    border: 2px solid #ddd;
    border-radius: 4px;
    width: 30%;
    align-items: center;
    justify-content: center;
}

.icon2 {
    border: 5px;
    padding: 15px;
    display: block;
    background-color: #ffffff;
    border-radius: 10px;
    width: 30%;
    align-items: center;
    justify-content: center;
}

.icon3 {
    display: block;
    border-radius: 7px;
    width: 30%;
    align-items: center;
    justify-content: center;
}

.icon4 {
    display: block;
    border-radius: 100px;
    width: 30%;
    align-items: center;
    justify-content: center;
}

.image {
    display: block;
    width: 20%;
    align-items: center;
    justify-content: center;
}

.image1 {
    display: block;
    width: 10%;
    align-items: center;
    justify-content: center;
}

.icon2Text {
    display: block;
    border: 2px solid #ddd;
    border-radius: 4px;
    width: 30%;
    align-items: center;
    justify-content: center;
}

.background {
    background-image: url("beach.jpg");
    background-size: cover;
    padding: 20px;
    opacity: 80%;
}

.backgroundColor {
    background-color:#348ecea0;
    border-radius: 20px;
    padding: 40px;
}

.galleryContainer {
    justify-content: center;
}

.galleryContainer img {
    border: 5px solid #ddd;
    border-radius: 10px;
    height: auto;
    width: 20%;
    margin: 10px;
}

.scrollImage {
    background-color: #f9f3f3;
    border-radius: 20px;
    overflow: auto;
    display: flex;
    justify-content: flex-start;
    white-space: nowrap;
}

.scrollImage div img {
    border: 2px solid #ffffff;
    border-radius: 5px;
    height: auto;
    width: 20%;
    margin: 20px;
}

.topicAndPara {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.topicAndPara:nth-child(n) {
    color: #000000;
    font-size: medium;
    font-family: 'Courier New', monospace;
    margin: 10px;
    padding: 10px;
    display: flex;
    justify-content: left;
}

.button {
    display: flex;
    border: none;
    border-radius: 10px;
    background-image: url("beach.jpg");
    padding: 50px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-family: 'Courier New', monospace;
    color:#ffffff;
    font-size: large;
    text-shadow: 1px 2px black;
    margin: 5px;
    transition-duration: 0.4s;
    cursor: pointer;
}




